---
import Layout from '../layouts/Contact.astro';
import NavBar from '../components/NavBar.astro';
import ButtomCard from '../components/ButtomCard.astro';
import YouTubeIcon from '../icons/brand-youtube.svg';
import TiktokIcon from '../icons/brand-tiktok.svg';
import InstagramIcon from '../icons/brand-instagram.svg';
import DiscordIcon from '../icons/brand-discord.svg';
import WebIcon from '../icons/brand-web.svg';
import GmailIcon from '../icons/brand-gmail.svg';

---

<Layout url='https://www.kailand.es/redes' title="Kailand: Redes" description="Redes de Kailand">
    <NavBar />
    <main>
		<div class="h-20"></div>
        <div class="flex flex-col items-center">
            <div 
              class="card w-1/3 mb-6
                    md:w-1/2 sm:w-96
                    min-[200px]:w-4/5"
              >
                <div class='content'>
                    <div class='back'>
                        <div class='back-content'>
                            <img src="https://raw.githubusercontent.com/GatoArtStudios/kailand/web/public/favicon.png" alt="" class="w-40 md:w-30">
                            <strong>Kailand V</strong>
                            <p class='text-gray-500'>
                                Servidor de Minecraft Publico.
                            </p>
                        </div>
                    </div>
                    <div class='front flex flex-col items-center content-center'>
                        <div class="flex-none my-3">
                            <strong>Sobre Nosotros</strong>
                        </div>
                        <div class="description grow mx-3">
                            Servidor público de Minecraft, diseñado y desarrollado 
                            profesionalmente para ofrecerte una experiencia única. En Kailand, cada bloque y 
                            cada aventura están pensados para brindarte el máximo entretenimiento y desafíos épicos.
                        </div>
                        <p class="card-footer flex-none my-1">
                            Kailand &nbsp; | &nbsp; Temporada 5
                        </p>
                    </div>
                </div>
            </div>
            <ButtomCard title="Pagina Web" href="https://www.kailand.es/" img={WebIcon.src} animation='fade-zoom-in' animation_time='200' />
            <ButtomCard title="YouTube" href="https://www.youtube.com/@Kailandserver" img={YouTubeIcon.src} animation='fade-zoom-in' animation_time='250' />
            <ButtomCard title="Tiktok" href="https://www.tiktok.com/@kailandclips" img={TiktokIcon.src}  animation='fade-zoom-in' animation_time='300' />
            <ButtomCard title="Instagram" href="https://www.instagram.com/kailandclips/"  img={InstagramIcon.src} animation='fade-zoom-in' animation_time='350' />
            <ButtomCard title="Discord" href="https://www.kailand.es/discord"  img={DiscordIcon.src} animation='fade-zoom-in' animation_time='400' />
            <ButtomCard title="Correo" href="mailto:kailandservidor@gmail.com"  img={GmailIcon.src} animation='fade-zoom-in' animation_time='450' />
        </div>
        <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="../js/main.js"> </script>
    </main>
</Layout>
<style>
.card {
  overflow: visible;
  /* width: 590px; */
  height: 354px;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #13151a;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 560%;
  background: linear-gradient(90deg, transparent, #80ff66, #6bff66, #80ff66, #78ff66, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #13151a;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 95%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
</style>